.table-container {
  display: grid;
  place-content: center;
  margin: 40px 30px;
}
.table {
  box-shadow: 0px 0px 5px 1px #d9d9d9;
  background-color: #d9d9d9;
  width: 90vw;
}
.table thead {
  background-color: #d9d9d9;
  height: 60px;
}

.table tbody {
  background-color: #ffffff;
  height: 60px;
}

.table tbody th {
  padding: 5px 10px;
}
.project-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-info {
  text-align: start;
  font-weight: 400;
}

.project-info p {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.45);
}

.project-manager {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-manager div {
  color: #ca4a02;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 20px;
  height: 24px;
  width: 24px;
  background-color: #ffe0b2;
  border-radius: 15px;
  display: grid;
  place-content: center;
  margin-right: 7px;
}
.project-info h3,
.project-manager p,
.assigned-to p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
}
.assigned-to {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.assigned-to img {
  background-color: #d9d9d9;
  border-radius: 15px;
  width: 24px;
  height: 24px;
}
.status {
  display: grid;
  place-content: center;
}
.status p {
  padding: 1px 8px;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #595959;
  width: 60px;
}

.action {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

/* Options toast*/
.project-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 5px 20px;
  position: absolute;
  right: 50px;
  gap: 1px;
  width: 90px;
}

.project-options a,
.project-options button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color: #262626;
  display: flex;
  align-items: center;
}

.project-options button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

/* Mobile */

@media screen and (max-width: 455px) {
  .table thead,
  .project-manager-th,
  .status-th {
    display: none;
  }

  .tr-grid {
    display: grid;
    grid-template-areas:
      "p p o"
      "a a o";
      margin: 15px;
    }

  .project-info-container {
    grid-area: p;
    justify-self: left;
    margin-left: 15px;
  }
  .assigned-to-th {
    grid-area: a;
    justify-self: left;
    margin-left: 15px;
  }
  .options-th {
    grid-area: o;
  }
}
